<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
        <h2>Edit Trip</h2>
        </div>
    </div>
</section>
<%= render partial: "users/errors", locals: {errors: @errors} %>
<%= form_for([@user, @trip]) do |f| %>
    <%= f.hidden_field :user_id %> 
    <%= render partial: 'form', locals: {f: f}%>
<% end %>
