<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
        <h2>Book a Flight</h2>
        </div>
    </div>
</section>

<%= render partial: 'users/errors', locals: {errors: @errors} %>

<%= form_for([@flight, @trip]) do |f| %>
    <%= render partial: 'form', locals: {f: f}%>
<% end %>
