<section>
    <div class="row">
    <div class="vertical-center">
    <%= form_for([@flight, @trip]) do |f| %>
       <%= render partial: 'form', locals: {f: f}%>
       <div class="show-btn">
            <%= f.submit %>
        </div>
    <% end %>
    </div>
    </div>
</section>
