<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
        <h2>Trip Detail</h2>
        </div>
    </div>
</section>
    <%= render partial: "flights/flight_detail", locals: {f: @trip.flight} %>
    <p></p>
    <%= render partial: "traveler_detail", locals: {t: @trip} %>




    <%= button_to "Cancel Trip", [@user, @trip], method: :delete, data: { confirm: "Really?" } %>
