<section>
    <div class="row">
    <div class="vertical-center">
    <%= render partial: "trip_detail", locals: {trip: @trip} %>

        <%= link_to 'Edit Info', edit_user_trip_path(@user, @trip) %>

    <div class="show-btn">
        <%= button_to "Cancel Trip", [@user, @trip], method: :delete, data: { confirm: "Really?" } %>
    </div>
    </div>
    </div>
</section>