<section>
<div class="row">
    <div class="vertical-center">
    <h1>Ready For Going Your Next Trip? Sign in!</h1>
    <div class="show-btn">
    <%= button_to 'Sign In', '/signin' %>
    </div>
    </div>
</div>
</section>