<section>
<div class="row">
  <div class="vertical-center">
    <h1>Hi, <%= @user.username %>! Ready For Your Next Trip?</h1>
    <div class="show-btn">
    <%= button_to 'Go', flights_path, method: :get%>
    </div>
  </div>
</div>
</section>